/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: #282c34;
  margin: 0;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Varela Round", sans-serif;
  height: 100vh;
}
